body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
  }
  
 /* Home Section */
#home {
    height: 100vh; /* Set the height of the home section to the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #home {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
  }
  
  #home h1,
  #home p {
    margin: 0;
    position: relative;
    bottom: 300px;
    
  }

  #home h1 {
    font-size: 4em;
  }
  

  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  /* Navbar Styles */
  nav {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  /* Toggle button for small screens */
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  /* Main Sections */
  section {
    padding: 50px;
  }
  
 /* Projects Section */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background: #3498db;
  }
  
  #projects h2 {
    width: 100%; /* Make the title take the full width */
    margin-bottom: 30px;
    color: #ffffff;
  }
  
  .project {
    width: 30%;
    margin: 10px;
    text-align: center;
    padding: 20px;
    background-color: #1b1b1bbe;
    border: 1px solid rgba(255, 255, 255, 0.192);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.2s;
  }

  .project:hover {
    border: 1px solid rgba(255, 255, 255, 0.479);
  }
  
  .project img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .project h3 {
    color: #ffffff;
  }
  
  .project p {
    color: #e0e0e0;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
    color: #354d5e;
    transition: 0.3s;
    text-decoration: none;
    border: 1px solid #3498db;
    padding: 10px;
  }
  
  .project a:hover {
    background-color: #3498db;
    color: #fff;
  }
   

  @media only screen and (max-width: 600px) {
    .project {
      width: 100%; /* Set width to 100% for 1:1 rows on small screens */
    }
  }

  /* About Section */
#about {
    text-align: center;
  }
  
  #about img {
    max-width: 100%;
    border-radius: 50%; /* Make the image circular */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #about p {
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
  }
  
  
  /* Footer Styles */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Added style for Font Awesome icons */
  footer i {
    margin-right: 5px;
  }

  i {
    transition: 0.2s;
    cursor: pointer;
  }
  
  i:hover {
    color: #3498db;
  }